<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form class="form-signin mt-xl-5" th:method="POST" th:action="@{/login}">
        <h2 class="form-signin-heading">Sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>

        <div class="alert alert-danger" role="alert" th:if="${param.error != null}" style="margin-bottom: 4px;">
            <div th:text="${param.error}" class="text-danger"></div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Sign in</button>
    </form>
    <a href="/register" class="btn btn-block btn-light" style="margin-top: 4px;">Register here</a>
</div>
