<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">EMC SHOP</h1>
        <h3 class="jumbotron-heading">Add new product</h3>
    </div>
</section>
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col md-5">
            <form th:method="POST" th:action="@{'/products/add'}">
                <input type="hidden" name="id" id="id" th:value="${product != null} ? ${product.getId()} : ''">

                <div class="form-group">
                    <label for="name">Product name</label>
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control"
                           th:value="${product != null} ? ${product.getName()} : ''"
                           placeholder="Enter product name"
                           required/>
                    <label for="price">Price</label>
                    <input type="text"
                           id="price"
                           name="price"
                           class="form-control"
                           th:value="${product != null} ? ${product.getPrice()} : ''"
                           placeholder="Enter price"
                           required/>
                    <label for="quantity">Quantity</label>
                    <input type="number"
                           id="quantity"
                           name="quantity"
                           class="form-control"
                           th:value="${product != null} ? ${product.getQuantity()} : ''"
                           placeholder="Enter quantity"
                           required/>
                    <label for="category">Category</label>
                    <select class="form-control" id="category" name="category">
                        <option th:if="${product != null}"
                                th:each="c : ${categories}"
                                th:text="${c.getName()}"
                                th:value="${c.getId()}"
                                th:selected="${product.getCategory() != null && product.getCategory().getId() == c.getId()}"
                        ></option>
                        <option th:if="${product == null}"
                                th:each="c : ${categories}"
                                th:text="${c.getName()}"
                                th:value="${c.getId()}"
                        ></option>
                    </select>
                    <label for="manufacturer">Manufacturer</label>
                    <select class="form-control" id="manufacturer" name="manufacturer">
                        <option th:if="${product != null}"
                                th:each="m : ${manufacturers}"
                                th:text="${m.getName()}"
                                th:value="${m.getId()}"
                                th:selected="${product.getManufacturer() != null && product.getManufacturer().getId() == m.getId()}"
                        ></option>
                        <option th:if="${product == null}"
                                th:each="m : ${manufacturers}"
                                th:text="${m.getName()}"
                                th:value="${m.getId()}"
                        ></option>
                    </select>
                </div>
                <div class="mb-3">
                    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="mb-3">
                    <a th:href="@{/products}" type="button" class="btn btn-info"><< Back</a>
                </div>
            </form>
        </div>
    </div>
</div>