<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">EMC SHOP</h1>
        <h3 class="jumbotron-heading">All categories</h3>
    </div>
</section>

<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-12">
            <h4>User-infos:</h4>
            <div>
                <div>User-Agent |
                    <th:block th:text="${userAgent}"/>
                </div>
                <div>IP Address |
                    <th:block th:text="${ipAddress}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4" th:if="${categories.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Category name</th>
                        <th scope="col">Description</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${categories}">
                        <td th:text="${c.getName()}"></td>
                        <td th:text="${c.getDescription()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="col-sm-12 col-md-12">
                <h4 class="mb-4 mt-4">Add new category</h4>
                <form th:method="POST" th:action="@{/category/add}">
                    <p>
                        <label for="name" class="sr-only">Name</label>
                        <input type="text" id="name" name="name" class="form-control"
                               placeholder="Category name" required=""
                               autofocus="">
                    </p>
                    <p>
                        <label for="description" class="sr-only">Description</label>
                        <input type="text" id="description" name="description" class="form-control"
                               placeholder="Category description"
                               required="">
                    </p>
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="fa fa-trash">Add category</i>
                    </button>
                </form>
            </div>
        </th:block>
    </div>
</div>