<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Electronic and mobile commerce shop</h1>
        <h3 class="jumbotron-heading">Home Page</h3>
    </div>
</section>