<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">EMC SHOP</h1>
        <h3 class="jumbotron-heading">All products</h3>
    </div>
</section>
<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-8">
            <div class="alert alert-danger" role="alert" th:if="${hasException != null}">
                <h5 th:text="${message}"></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" th:if="${productsList.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Product name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${productsList}" class="productRow">
                        <td th:text="${p.getName()}"></td>
                        <td th:text="${p.getPrice()}"></td>
                        <td th:text="${p.getQuantity()}"></td>
                        <td th:text="${p.getManufacturer() != null} ?
                                     ${p.getManufacturer().getName()} :
                                     'No manufacturer'"></td>
                        <td th:text="${p.getCategory() != null} ?
                                     ${p.getCategory().getName()} :
                                     'No category'"></td>
                        <td class="text-right">
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <form th:method="DELETE" th:action="@{'/products/delete/{id}' (id=${p.getId()})}">
                                    <button type="submit" class="btn btn-sm btn-danger mb-2 delete-btn">
                                        <i class="fa fa-trash">Delete</i>
                                    </button>
                                </form>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <a th:href="@{'/products/edit-form/{id}' (id=${p.getId()})}"
                                   class="btn btn-sm btn-info mb-2 edit-btn">
                                    <i class="fa fa-trash">Edit</i>
                                </a>
                            </th:block>
                            <th:block sec:authorize="isAuthenticated()">
                                <form th:method="POST"
                                      th:action="@{'/shopping-cart/add-product/{id}' (id=${p.getId()})}">
                                    <button type="submit" class="btn btn-sm btn-primary cart-btn">
                                        <i class="fa fa-trash">Add product to cart</i>
                                    </button>
                                </form>
                            </th:block>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-3">
            <div class="row">
                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="col-sm-12 col-md-12">
                        <a th:href="@{/products/add-form}" class="btn btn-block btn-dark add-btn">
                            Add new product
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>