<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <h1 class="jumbotron-heading">EMC SHOP</h1>
        <h3 class="jumbotron-heading">Shopping cart for
            <i>
                <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}"/>
            </i>
        </h3>
    </div>
</section>

<div class="container mb-4" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-8">
            <div class="alert alert-danger" role="alert" th:if="${hasException != null}">
                <h5 th:text="${message}"></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12" th:if="${products.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Product name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Category</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${products}" class="cart-item">
                        <td th:text="${p.getName()}"></td>
                        <td th:text="${p.getPrice()}"></td>
                        <td th:text="${p.getQuantity()}"></td>
                        <td th:text="${p.getManufacturer() != null} ?
                                             ${p.getManufacturer().getName()} :
                                             'No manufacturer'"></td>
                        <td th:text="${p.getCategory() != null} ?
                                             ${p.getCategory().getName()} :
                                             'No category'"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>